body {

    font-family: Trebuchet MS;
    font-size: 42px;
    background-color: black; 
    color: darkolivegreen;
    text-align: center;
  }
  
p {

    font-family: Trebuchet MS;
    color: darkolivegreen;
    width: 700px;
    text-align: center;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
}
.braunlichBars{
  width: 550px;
  height: 40px;
  min-height: 40px;
}

.manifestoBars{
  margin-top: 0px;
  width: 550px;
  height: 10px;
  min-height: 10px;
}
.subHeader{
  font-family: Trebuchet MS;
  font-size: 16px;
  color: darkolivegreen;
  text-align: Center;
  padding-top: 0px;
  line-height: 100%;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: darkgrey;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.top-one {
  margin-top: 1cm;
  margin-bottom: 1cm;
  font-size: 16px;
}

.manifesto{

  font-family: Trebuchet MS;
  font-size: 16px;
  color: darkolivegreen;
  text-align: Center;
  padding-top: 0px;
  line-height: 100%;


}
  
h1 {

    font-family: Trebuchet MS;
    font-size: 16px;
    color: darkolivegreen;
    text-align: center;
    padding-top: 25px;
  
  }

h2 {

    font-family: Trebuchet MS;
    font-size: 26px;
    color: darkolivegreen;
    text-align: center;
    padding-top: 25px;
  
  }

h3 {
    font-family: Trebuchet MS;
    font-size: 12px;
    color: darkolivegreen;
    text-align: Center;
    padding-top: 0px;
  }




