body {

    font-family: Trebuchet MS;
    font-size: 42px;
    background-color: black; 
    color: darkolivegreen;
    text-align: center;
  }
  
p {

    font-family: Trebuchet MS;
    color: darkolivegreen;
    width: 700px;
    text-align: center;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
}
.braunlichBars{
  width: 550px;
  height: 40px;
  min-height: 40px;
}
.subHeader{
  font-family: Trebuchet MS;
  font-size: 16px;
  color: darkolivegreen;
  text-align: Center;
  padding-top: 0px;
  line-height: 100%;

}

.top-one {
  margin-top: 1cm;
  margin-bottom: 1cm;
  font-size: 16px;
}

.manifesto{

  font-family: Trebuchet MS;
  font-size: 16px;
  color: darkolivegreen;
  text-align: Center;
  padding-top: 0px;
  line-height: 100%;

}
  
h1 {

    font-family: Trebuchet MS;
    font-size: 16px;
    color: darkolivegreen;
    text-align: center;
    padding-top: 25px;
  
  }

h2 {

    font-family: Trebuchet MS;
    font-size: 26px;
    color: darkolivegreen;
    text-align: center;
    padding-top: 25px;
  
  }

h3 {
    font-family: Trebuchet MS;
    font-size: 12px;
    color: darkolivegreen;
    text-align: Center;
    padding-top: 0px;
  }




