body {

    font-family: Trebuchet MS;

    font-size: 32px;
    
    background-color: black;
    
    color: darkolivegreen;
    
    text-align: center;
  }
  
p2 {

    font-family: Trebuchet MS;
    font-size: 22px;
    color: darkolivegreen;
    text-align: center;
    padding-top: 25px;
}

  
h1 {
  
    font-family: Trebuchet MS;
  
    color: darkolivegreen;
  
    text-align: center;
    padding-top: 25px;
  
  }


